.container-fluid {
  max-width: 1500px;
}
.img-adj {
  /* max-height: 700px !important; */
  min-width: 100px;
  padding: 10px;
}

/* @media screen and (max-width: 1245px) {
  .fightAds {
    width: 50px;
  }
} */
